* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.form {
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 100px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

#gif-selector {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}

.gif-selectable-item {
    display: inline-block;
}

#gif-item-selected {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 4px solid #9c27b0;
    outline-offset: -4px;
}

.error {
    color: #CC5050;
}
